body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7f7f7;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

#liste-eglises div {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    background-color: white;
}
